<!doctype html>
<html ng-app>
    <head>
        <script src="js/angular.min.js"></script>
		<script type="text/javascript">
			function PhoneListCtrl($scope){
				$scope.phones = [
							{"name": "Motorola XOOM with Wi-Fi", "snippet": "The Next, Next  Generation tablet.",'year':2011},
					{"name": "MOTOROLA XOOM", "snippet": "The Next, Next Generation tablet.",'year':2009},
	
			
				{"name": "Nexus S", "snippet": "Fast just got faster with Nexus S.",'year':2012}]
			}
		</script>
    </head>
    <body >
		<h1>Phones:</h1>
		<ul ng-controller="PhoneListCtrl">
			<li ng-repeat="phone in phones">
				{{phone.name}}
				<p>{{phone.snippet}}</p>
			</li>
		</ul>
		
		<h1>Row Number:</h1>
		<table ng-init="numbers=[0,1,2,3]">
			<tr  ng-repeat="i in numbers"><td>{{i+1}}</td></tr>
		</table>
		
		<h1>Using Filters:</h1>
		 Search: <input ng-model="query" placeholder="Enter any keyword to filter.">
		<ul ng-controller="PhoneListCtrl">
			<li ng-repeat="phone in phones | filter:query | orderBy:'year'">
				{{phone.name | uppercase}}
				<p>{{phone.snippet}}</p>
			</li>
		</ul>
    </body>
</html>